/* Splash Styles */

@font-face {
      src: url('fonts/Amethyst.ttf');
      font-family: title-font;
}

h1 {
      margin-top: 250px;
      font-family: title-font;
      font-size: 100px;
      text-align: center;
      color: white;
}

#img {
      text-align: center;
}

h2 {
      text-align: center;
      color: white;
}

h2 a {
      text-decoration: none;
      color: white;
}

h2 a:hover {
      text-decoration: underline;
}

/* code for the background video */

.fullscreen-bg {
      position: fixed;
      width: auto;
      height: auto;
      z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    z-index: -100;
}
