/* Splash Styles */

@font-face {
      src: url('fonts/Amethyst.ttf');
      font-family: title-font;
}

h1 {
      margin-top: 250px;
      font-family: title-font;
      font-size: 100px;
      text-align: center;
      color: white;
}

#img {
      text-align: center;
}

h2 {
      text-align: center;
      color: white;
}

h2 a {
      text-decoration: none;
      color: white;
}

h2 a:hover {
      text-decoration: underline;
}

#link {
      text-align: center;
}

.input {
      background-color: #eee;
      padding: 25px;
      width: 400px;
      margin-top: 50px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      font-size: 25px;
      color: black;
      box-shadow: 10px 10px 50px black;
      border-radius: 15px 50px;
}

.input input[type="text"] {
      font-size: 15px;
      background-color: white;
      padding: 10px;
      border: solid 1px #dcdcdc;
      transition: box-shadow 0.3s, border 0.3s;
}

.input input[type="text"]:focus,
.input input[type="text"].focus {
      border: solid 1px #707070;
      box-shadow: 0 0 5px 1px #969696;
}

.input input[type="submit"] {
      font-size: 25px;
}

.input input[type="password"] {
      font-size: 15px;
      background-color: white;
      padding: 10px;
      border: solid 1px #dcdcdc;
      transition: box-shadow 0.3s, border 0.3s;
}

.input input[type="password"]:focus,
.input input[type="password"].focus {
      border: solid 1px #707070;
      box-shadow: 0 0 5px 1px #969696;
}

a {
      color: white;
      font-size: 35px;
      text-decoration: none;
}

a:hover {
      text-decoration: underline;
      color: grey;
}

/* code for the background video */

.fullscreen-bg {
      position: fixed;
      width: auto;
      height: auto;
      z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    z-index: -100;
}
