/* quiz template styles */

@font-face {
      src: url('fonts/Amethyst.ttf');
      font-family: title-font;
}

* {
      width: 100%;
      margin: 0px;
      background-color: #E4F1FE;
}

h1 {
      font-family: title-font;
      position: fixed;
      text-align: center;
      font-size: 55px;
      margin-bottom: 100px;
      background-color: white;
      padding: 50px;
      box-shadow: 10px 10px 50px black;
}

#content {
      padding-top: 300px;
      text-align: center;
      font-size: 25px;
}

.input input[type="text"] {
      font-size: 15px;
      background-color: white;
      padding: 10px;
      border: solid 1px #dcdcdc;
      transition: box-shadow 0.3s, border 0.3s;
}

.input input[type="text"]:focus,
.input input[type="text"].focus {
      border: solid 1px #707070;
      box-shadow: 0 0 5px 1px #969696;
}

.input input[type="password"] {
      font-size: 15px;
      background-color: white;
      padding: 10px;
      border: solid 1px #dcdcdc;
      transition: box-shadow 0.3s, border 0.3s;
}

.input input[type="password"]:focus,
.input input[type="password"].focus {
      border: solid 1px #707070;
      box-shadow: 0 0 5px 1px #969696;
}

input[type="submit"] {
      background-color: #555;
      color: #fff;
      border-radius: 10px;
      width: 250px;
      font-size: 25px;
      margin-top: 15px;
      text-align: center;
}

#nav {
      font-size: 25px;
      top: 300px;
      margin-left: 30px;
      position: fixed;
      width: 100px;
}

#nav ul {
      list-style: none;
}

#nav ul li a {
      color: black;
      text-decoration: none;
}

#nav ul li a:hover {
      color: white;
      text-decoration: underline;
}

form {
      padding-top: 250px;
      width: 700px;
      margin-left: auto;
      margin-right: auto;
}

form p {
      font-size: 25px;
      padding: 15px;
}

.MC{

}
